.dashboard-header{
  width: 100vw;
  height: 15vh;
  max-height: 100px;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.06);
}

.dashboard-header .container{
  padding: 20px;
}