.dashboard-app{
  width: 100vw;
  height: 100vh;
}

.dashboard-app .app{
  padding: 20px;
}

.dashboard-app .app .grid-layout{
  display: grid;
  grid-template-areas: "kp ki mp ts"
                       "original original controller controller" ;
  grid-gap: 15px;
}

.dashboard-app .app .grid-layout .kp-container{grid-area: kp}
.dashboard-app .app .grid-layout .ki-container{grid-area: ki}
.dashboard-app .app .grid-layout .mp-container{grid-area: mp}
.dashboard-app .app .grid-layout .ts-container{grid-area: ts}

.dashboard-app .app .grid-layout .kp-container, .dashboard-app .app .grid-layout .ki-container,
.dashboard-app .app .grid-layout .mp-container, .dashboard-app .app .grid-layout .ts-container{
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.02);
}

.dashboard-app .app .grid-layout .value{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-app .app .grid-layout .value p{
  font-size: 50px;
  color: #002500;
  font-weight: bold;
}

.dashboard-app .app .grid-layout .value .input-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.dashboard-app .app .grid-layout .value .input-container input{
  background-color: #EFF4FC;
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  color: #4A6D7C;
  outline: none;
}
.dashboard-app .app .grid-layout .value .input-container input:focus{
  border: 2px solid #4A6D7C !important;
  box-shadow: 0 0 5px  #4A6D7C;
}

.dashboard-app .app .grid-layout .value .input-container button{
  background-color:  #4A6D7C;
  color: #FFFFFF;
  border: none;
  padding: 10px;
  width: 120px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s;
}
button:hover{
  filter: brightness(80%);
}

.dashboard-app .app .grid-layout .original-chart{
  grid-area: original;
}

.dashboard-app .app .grid-layout .controller-chart{
  grid-area: controller;
}

.dashboard-app h1{
  font-size: 25px;
  color: #4A6D7C;
}

.dashboard-app h2{
  font-size: 15px;
  color: #4A6D7C;
  margin: 0;
}